      @font-face {
        font-family: "Outfit";
        font-style: normal;
        font-weight: 100 900;
        font-display: swap;
        src: url("../fonts/outfit-400.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122,
          U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: "Outfit Fallback";
        src: local("Arial");
        size-adjust: 102%;
        ascent-override: 90%;
        descent-override: 22%;
        line-gap-override: 0%;
      }
      @font-face {
        font-family: "Space Grotesk";
        font-style: normal;
        font-weight: 300 700;
        font-display: swap;
        src: url("../fonts/space-grotesk.woff2") format("woff2");
        unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6,
          U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122,
          U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
      }
      @font-face {
        font-family: "Space Grotesk Fallback";
        src: local("Courier New");
        size-adjust: 98%;
        ascent-override: 88%;
        descent-override: 24%;
        line-gap-override: 0%;
      }
      @font-face {
        font-family: "Font Awesome 6 Free";
        font-style: normal;
        font-weight: 900;
        font-display: swap;
        src: url("../fonts/fa-solid-900.woff2") format("woff2");
      }
      .fas,
      .fa-solid {
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
      }
      .fa,
      .fas,
      .far,
      .fal,
      .fat,
      .fad,
      .fab,
      .fa-solid,
      .fa-regular,
      .fa-light,
      .fa-thin,
      .fa-duotone,
      .fa-brands {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        text-rendering: auto;
      }
      .fa-arrow-up::before {
        content: "\f062";
      }
      .fa-robot::before {
        content: "\f544";
      }
      .fa-terminal::before {
        content: "\f120";
      }
      .fa-paper-plane::before {
        content: "\f1d8";
      }
      .fa-check::before {
        content: "\f00c";
      }
      .fa-code::before {
        content: "\f121";
      }
      .fa-shield-halved::before {
        content: "\f3ed";
      }
      .fa-database::before {
        content: "\f1c0";
      }
      .fa-rocket::before {
        content: "\f135";
      }
      .fa-layer-group::before {
        content: "\f5fd";
      }
      .fa-lightbulb::before {
        content: "\f0eb";
      }
      .fa-cog::before {
        content: "\f013";
      }
      .fa-chart-line::before {
        content: "\f201";
      }
      .fa-screwdriver-wrench::before {
        content: "\f7d9";
      }
      .fa-money-bill-wave::before {
        content: "\f53a";
      }
      .fa-ban::before {
        content: "\f05e";
      }
      .fa-gauge-high::before {
        content: "\f625";
      }
      .fa-handshake::before {
        content: "\f2b5";
      }
      .fa-trash::before {
        content: "\f1f8";
      }
      .fa-trash-can::before {
        content: "\f2ed";
      }
      .fa-user-xmark::before {
        content: "\f235";
      }
      @font-face {
        font-family: "Font Awesome 6 Brands";
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url("../fonts/fa-brands-400.woff2") format("woff2");
      }
      .fab,
      .fa-brands {
        font-family: "Font Awesome 6 Brands";
        font-weight: 400;
      }
      .fa-linkedin::before {
        content: "\f08c";
      }
      .fa-linkedin-in::before {
        content: "\f0e1";
      }
      .fa-github::before {
        content: "\f09b";
      }
      .fa-instagram::before {
        content: "\f16d";
      }
      .fa-aws::before {
        content: "\f375";
      }